@model List<ListaPedidosViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Data do Pedido
            </th>
            <th>
                Total
            </th>
            <th>
                Forma de Pagamento
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pedido.DataPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pedido.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pedido.FormaPagamento)
            </td>
            <td>
                <form asp-action="Edit" asp-controller="Status">
                    @*@Html.DropDownListFor(modelItem => item.Status, new List<SelectListItem> {
                        new SelectListItem { Text = "Aguardando Pagamento" },
                        new SelectListItem { Text = "Pagamento Rejeitado" },
                        new SelectListItem { Text = "Pagamento com Sucesso" },
                        new SelectListItem { Text = "Aguardando Retirada" },
                        new SelectListItem { Text = "Em Trânsito" },
                        new SelectListItem { Text = "Entregue" }
                    })*@

                    <select asp-for="@(item.Status)" name="statusPedido">
                        <option>Aguardando Pagamento</option>
                        <option>Pagamento Rejeitado</option>
                        <option>Pagamento com Sucesso</option>
                        <option>Aguardando Retirada</option>
                        <option>Em Trânsito</option>
                        <option>Entregue</option>
                    </select>
                    <input asp-for="@(item.Pedido.Id)" name="pedidoId" value=@item.Pedido.Id type="hidden" />
                </form>
            </td>
            <td>
                <a asp-action="Details" asp-route-idPedido="@item.Pedido.Id" class="btn btn-primary">Details</a>                
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        $(function() {
            $("select").change(function() {
                $(this).closest('form').submit();
            })
        })
    </script>
}