@using X.PagedList.Mvc.Core

@model X.PagedList.IPagedList<MangaStore.Web.Models.Produto>

@{
    ViewData["Title"] = "Home Page";
}

@if(ViewBag.UsuarioLogado != null)
{
    <h1 class="bg-warning">@ViewBag.UsuarioLogado</h1>
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-5">
            <form class="justify-content-center justify-content-center-md-start mb-3 mb-md-0">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Digite seu Produto Procurado" />
                    <button class="btn btn-warning">
                        Buscar Produto
                    </button>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-7">
            <div class="d-flex flex-row-reverse justify-content-center justify-content-md-start">
                @*<form class="">
                    @Html.DropDownListFor("Ordenar", new List<SelectListItem> 
                        {
                        new SelectListItem { Text = "Ordenar Pelo Nome"},
                        new SelectListItem { Text = "Ordenar Pelo Menor Preço"},
                        new SelectListItem { Text = "Ordenar Pelo Maior Preço"}
                    })
                </form>*@
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                of @Model.PageCount   @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))
            </div>
        </div>
    </div>
    <hr class="mt-3" />
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-itens-stretch">
                <div class="card text-center bg-light">
                    <img src="~/Files/Arquivos_Usuário/Recieved/">
                    <div class="card-header">
                        @Html.DisplayFor(modelItem => item.Preco)
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.DescricaoDetalhada)</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-warning" asp-controller="Produto" asp-action="Details" asp-route-id="@item.Id">Adicionar Ao Carrinho</a>
                        <small>
                            @Html.DisplayFor(modelItem => item.QtdEstoque)
                        </small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>