@using X.PagedList.Mvc.Core
@using Microsoft.AspNetCore.Razor.Language
@using Microsoft.AspNetCore.Http.Features
@using NuGet.Configuration

@model X.PagedList.IPagedList<MangaStore.Web.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" method="post">
    <div>
        <label>Buscar Produto</label>
        <input type="text" name="nome" />
        <span class="text-danger"></span>
    </div>
    <div>
        <input type="submit" value="Buscar" class="btn btn-primary" />
    </div>
</form>

<p>
    @if(User.IsInRole("Administrador")) 
    {
        <a asp-action="Create" class="btn btn-success">Create New</a>
    }
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Avaliação
            </th>
            <th>
                Descrição Detalhada
            </th>
            <th>
                Preço
            </th>
            <th>
                Quantidade em Estoque
            </th>
            <th>
                Custo
            </th>
            <th>
                Ativo ou Não?
            </th>
        </tr>
    </thead>
    <tbody id="meusResultados">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avaliacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoDetalhada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdEstoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custo)
            </td>
            <td>
                <form asp-action="AtivarProduto">
                    <input type="hidden" asp-for="@(item.Id)" name="id" />
                    <input asp-for="@(item.Ativo)" onclick="AtivarProduto()" class="form-check-input" id="check" type="checkbox" />
                </form>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> |
                @if(User.IsInRole("Administrador")) 
                {
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                }             
            </td>
        </tr>
}
    </tbody>
</table>

<div class="row">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount   @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))
</div>

@section Scripts {
    <script language="JavaScript" type="text/javascript">
        $(function() {
            $("#check").change(function () {
                $(this).closest('form').submit();
            })
        })
    </script>
}